.search-input {
  display: none;
}
.search-input.active {
  display: inline-block;
}
.btn-orange {
  background-color: orange;
  border-color: orange;
}
.btn-orange:hover {
  background-color: darkorange;
  border-color: darkorange;
}
